html {
  /*background: -webkit-radial-gradient(top right, circle, rgba(242,248,247,1) 0%,rgba(249,249,28,1) 3%,rgba(247,214,46,1) 8%, rgba(248,200,95,1) 12%,rgba(201,165,132,1) 30%,rgba(115,130,133,1) 51%,rgba(46,97,122,1) 85%,rgba(24,75,106,1) 100%);
  */
  text-decoration-color: white;
  background: linear-gradient(45deg, rgba(255,255,0,1) 0%,
                                      rgba(5,193,255,1) 50%,
                                      rgba(255,255,0,1) 100%);
}

#title {                                /*PLACES LOGO TOP LEFT*/
  float: left;
  top: 0;
}

#month {                                /*CENTERS MONTH HEADER*/
  position: relative;
  text-align: center;
}

#worldClock {                           /*WORLDCLOCK ON RIGHT SIDE*/
  position: relative;
  float: right;
  text-align: center;
}

#userGreeting {                         /*PLACES THIS AT TOP LEFT OF PAGE*/
  padding-top: 10px;
  border-bottom: black thin solid;
  float: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  color: white;
}

#calendarDiv {                          /*POSITIONING OF CALENDAR ITSELF*/
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.colHead {                              /*SUNDAY-SATURDAY COLUMN HEADINGS*/
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  background-color: white;
  height: auto;
  width: 150px;
}

.weekdays {                             /*ADJUSTS SIZES AND BORDER COLERS OF DAYS*/
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  height: 150px;
  max-height: 150px;
  width: 150px;
  background-color: #ecf0f1;
}

.currentDay{                            /*SETS BORDER FOR TODAY'S DATE*/
  border-color: red;
  border-width: 1px; 
  border-style: solid; 
  display: inline-block;
  height: 150px;
  max-height: 150px;
  width: 150px;
  background-color: #F5CCCC;
}

.weekdays:hover, .currentDay:hover {    /*HOVER OVER AND DAY TURNS A YELLOW TINT*/
  background-color: rgb(255, 255, 204);
}

.blankDays {                            /*USED TO CORRECT SPACING OF THE CALENDAR*/
  display: inline-block;                /*BY MAKING "INVISIBLE" BLANK DAYS*/
  width: 150px;
}

#buttonArea {                           /*POSITIONING OF BUTTONS (TOP RIGHT)*/
  position: absolute;
  top: 0;
  right: 0;
}

#addEventButton {                       /*ADDS BUTTONS TO TOP RIGHT*/
  float: left;
}                                       /**/

#contactButton {                        /**/
  float: left;
}                                       /**/

#next {                                 /**/
  float: right;
}                                       /*ONE AFTER ANOTHER*/

/*New add event form css*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: center;
}

#addEvent input[type="text"],
#addEvent input[type="date"],
#addEvent textarea,
#addEvent button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#addEvent {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#addEvent h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#addEvent h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#addEvent input[type="text"],
#addEvent input[type="date"],
#addEvent textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#addEvent input[type="text"]:hover,
#addEvent input[type="date"]:hover,
#addEvent textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#addEvent textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#addEvent button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#addEvent button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#addEvent button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#addEvent input:focus,
#addEvent textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}   
